# Ignore all PNG files in sprites and subfolders
PizzaTower_GM2/sprites/**/*.png

# Do not ignore .yy files anywhere under sprites
!PizzaTower_GM2/sprites/**/*.yy

# datafiles
PizzaTower_GM2/datafiles/

# unignore all tileset sprites
!PizzaTower_GM2/sprites/bg_grindrail/**
!PizzaTower_GM2/sprites/bg_title/**
!PizzaTower_GM2/sprites/bg_trapscreen/**
!PizzaTower_GM2/sprites/spr_spaceprops/**
!PizzaTower_GM2/sprites/tile_factory3/**
!PizzaTower_GM2/sprites/spr_tileset_beachprops1/**
!PizzaTower_GM2/sprites/spr_tileset_beachprops2/**
!PizzaTower_GM2/sprites/tile_chateau1/**
!PizzaTower_GM2/sprites/spr_tileset_chateaudecorations/**
!PizzaTower_GM2/sprites/tile_dungeon/**
!PizzaTower_GM2/sprites/tile_dungeon2/**
!PizzaTower_GM2/sprites/tile_dungeon3/**
!PizzaTower_GM2/sprites/tile_entrance1/**
!PizzaTower_GM2/sprites/spr_tileset_farm/**
!PizzaTower_GM2/sprites/spr_tileset_forestprops/**
!PizzaTower_GM2/sprites/bg_tilefreezer/**
!PizzaTower_GM2/sprites/tile_freezer2/**
!PizzaTower_GM2/sprites/spr_tileset_freezerfridge/**
!PizzaTower_GM2/sprites/tile_graveyard1/**
!PizzaTower_GM2/sprites/tile_graveyard3/**
!PizzaTower_GM2/sprites/tile_graveyard2/**
!PizzaTower_GM2/sprites/tile_medieval/**
!PizzaTower_GM2/sprites/tile_medieval2/**
!PizzaTower_GM2/sprites/tile_medieval3/**
!PizzaTower_GM2/sprites/spr_minigolfprops/**
!PizzaTower_GM2/sprites/tile_pinball1/**
!PizzaTower_GM2/sprites/tile_pinball2/**
!PizzaTower_GM2/sprites/tile_pinball3/**
!PizzaTower_GM2/sprites/tile_ruin/**
!PizzaTower_GM2/sprites/tile_ruin2/**
!PizzaTower_GM2/sprites/tile_secret/**
!PizzaTower_GM2/sprites/spr_spaceglass/**
!PizzaTower_GM2/sprites/spr_spaceprops2/**
!PizzaTower_GM2/sprites/tile_strongcold/**
!PizzaTower_GM2/sprites/spr_decorations/**
!PizzaTower_GM2/sprites/sprite_tile_beachtest/**
!PizzaTower_GM2/sprites/sprite_tile_beachtest2/**
!PizzaTower_GM2/sprites/sprite_tile_beachtest2dark/**
!PizzaTower_GM2/sprites/sprite_tile_citycarnival/**
!PizzaTower_GM2/sprites/sprite_tile_citydark/**
!PizzaTower_GM2/sprites/sprite_tile_forest/**
!PizzaTower_GM2/sprites/sprite_tile_forest1_shade/**
!PizzaTower_GM2/sprites/sprite_tile_forest2/**
!PizzaTower_GM2/sprites/sprite_tile_kungfu/**
!PizzaTower_GM2/sprites/tile_kunfucity/**
!PizzaTower_GM2/sprites/sprite_tile_kungfustructure/**
!PizzaTower_GM2/sprites/sprite_tile_minigolf/**
!PizzaTower_GM2/sprites/sprite_tile_minigolf2/**
!PizzaTower_GM2/sprites/sprite_tile_minigolf2_shad/**
!PizzaTower_GM2/sprites/sprite_tile_space1/**
!PizzaTower_GM2/sprites/sprite_tile_space2/**
!PizzaTower_GM2/sprites/sprite_tile_space2shadow/**
!PizzaTower_GM2/sprites/sprite_tile_space3/**
!PizzaTower_GM2/sprites/sprite_tile_spaceback1/**
!PizzaTower_GM2/sprites/sprite_tile_war1/**
!PizzaTower_GM2/sprites/sprite_tile_war1shadow/**
!PizzaTower_GM2/sprites/sprite_tile_war2/**
!PizzaTower_GM2/sprites/sprite_tile_war3/**
!PizzaTower_GM2/sprites/sprite_tile_war4/**
!PizzaTower_GM2/sprites/spr_warprops/**
!PizzaTower_GM2/sprites/spr_warprops/**
!PizzaTower_GM2/sprites/spr_warprops/**
!PizzaTower_GM2/sprites/sprite_warslope/**
!PizzaTower_GM2/sprites/tile_ball/**
!PizzaTower_GM2/sprites/spr_tile_beachcavern/**
!PizzaTower_GM2/sprites/spr_beachdeco/**
!PizzaTower_GM2/sprites/tile_bigrocks/**
!PizzaTower_GM2/sprites/tile_castle/**
!PizzaTower_GM2/sprites/tile_cavern/**
!PizzaTower_GM2/sprites/spr_city1props/**
!PizzaTower_GM2/sprites/spr_citycarnival/**
!PizzaTower_GM2/sprites/spr_citydarkprops/**
!PizzaTower_GM2/sprites/spr_tile_collision/**
!PizzaTower_GM2/sprites/spr_desertdeco/**
!PizzaTower_GM2/sprites/spr_tile_desertsecret/**
!PizzaTower_GM2/sprites/tile_desert/**
!PizzaTower_GM2/sprites/spr_dungeondeco/**
!PizzaTower_GM2/sprites/spr_entrancedeco/**
!PizzaTower_GM2/sprites/spr_exittile/**
!PizzaTower_GM2/sprites/spr_factory2/**
!PizzaTower_GM2/sprites/tile_factory/**
!PizzaTower_GM2/sprites/spr_tile_farmceilling/**
!PizzaTower_GM2/sprites/spr_tile_farmdeco/**
!PizzaTower_GM2/sprites/spr_foresttile1/**
!PizzaTower_GM2/sprites/spr_forestplaintile/**
!PizzaTower_GM2/sprites/spr_tile_forestprops2/**
!PizzaTower_GM2/sprites/spr_tilegolf/**
!PizzaTower_GM2/sprites/tile_grabsign/**
!PizzaTower_GM2/sprites/tile_grab/**
!PizzaTower_GM2/sprites/spr_tile_graveyarddeco/**
!PizzaTower_GM2/sprites/spr_graveyardmine/**
!PizzaTower_GM2/sprites/spr_tile_industrialcomplex/**
!PizzaTower_GM2/sprites/spr_interiortile2/**
!PizzaTower_GM2/sprites/bg_jailroom1/**
!PizzaTower_GM2/sprites/tile_keysign/**
!PizzaTower_GM2/sprites/spr_kidspartytile/**
!PizzaTower_GM2/sprites/spr_kitchentileOLD/**
!PizzaTower_GM2/sprites/tile_lamp/**
!PizzaTower_GM2/sprites/spr_mansiontile2/**
!PizzaTower_GM2/sprites/tile_maxspeedsign/**
!PizzaTower_GM2/sprites/spr_medievaldeco/**
!PizzaTower_GM2/sprites/spr_tile_medievaldeco2/**
!PizzaTower_GM2/sprites/spr_medievalinterior/**
!PizzaTower_GM2/sprites/spr_medievallibrary/**
!PizzaTower_GM2/sprites/spr_peppermantile/**
!PizzaTower_GM2/sprites/spr_tile_peppermanboss/**
!PizzaTower_GM2/sprites/spr_pizzamarttile/**
!PizzaTower_GM2/sprites/spr_tile_plains/**
!PizzaTower_GM2/sprites/spr_tile_planet/**
!PizzaTower_GM2/sprites/tile_pressany/**
!PizzaTower_GM2/sprites/spr_ruincheese/**
!PizzaTower_GM2/sprites/spr_ruindeco/**
!PizzaTower_GM2/sprites/spr_ruinend/**
!PizzaTower_GM2/sprites/spr_ruinend_secret/**
!PizzaTower_GM2/sprites/spr_tile_saloonalt/**
!PizzaTower_GM2/sprites/spr_pinballwooden/**
!PizzaTower_GM2/sprites/spr_sewer1props/**
!PizzaTower_GM2/sprites/spr_sewer2props/**
!PizzaTower_GM2/sprites/spr_tile_sewergraffiti/**
!PizzaTower_GM2/sprites/spr_tile_ship/**
!PizzaTower_GM2/sprites/spr_tile_space1/**
!PizzaTower_GM2/sprites/spr_space2var/**
!PizzaTower_GM2/sprites/spr_space3props/**
!PizzaTower_GM2/sprites/spr_space3var/**
!PizzaTower_GM2/sprites/tile_stairs/**
!PizzaTower_GM2/sprites/spr_storagetile/**
!PizzaTower_GM2/sprites/spr_tile_street/**
!PizzaTower_GM2/sprites/tile_superjumphold/**
!PizzaTower_GM2/sprites/tile_table/**
!PizzaTower_GM2/sprites/spr_taskroomtile/**
!PizzaTower_GM2/sprites/spr_tile_towerdesert/**
!PizzaTower_GM2/sprites/tile_towerdetails/**
!PizzaTower_GM2/sprites/spr_towerentrancehall/**
!PizzaTower_GM2/sprites/spr_tile_towerfloor3/**
!PizzaTower_GM2/sprites/spr_tile_towerfloor4/**
!PizzaTower_GM2/sprites/spr_tile_towerfloor5/**
!PizzaTower_GM2/sprites/tile_tower/**
!PizzaTower_GM2/sprites/tile_trash/**
!PizzaTower_GM2/sprites/spr_tile_tutorial/**
!PizzaTower_GM2/sprites/tile_tutorialimage/**
!PizzaTower_GM2/sprites/tile_tutorialsign/**
!PizzaTower_GM2/sprites/tile_tutorialOLD/**
!PizzaTower_GM2/sprites/tile_ufo/**
!PizzaTower_GM2/sprites/tile_wallrun/**
!PizzaTower_GM2/sprites/spr_warlab/**
!PizzaTower_GM2/sprites/spr_tile_waroutside/**
!PizzaTower_GM2/sprites/trapscreen2/**